{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dj-page">
    <div class="container">
        <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

    <h1>Delete MyStompbox</h1>

    <p>Are you sure you want to delete MyStompbox and all held data?</p>
        <form method="post">
            {% csrf_token %}
            <button name="confirm_delete" value="Yes" type="submit" class="btn btn-danger">Yes, unfortunately so...</button>
            <button name="confirm_delete" value="No" type="submit" class="btn btn-dark">No! What am I doing?!</button>
        </form>
</div>
{% endblock %}
