{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">

<h1>Delete MyStompbox</h1>

<p>Are you sure you want to delete MyStompbox and all held data?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="confirm_delete" value="Yes">Yes, unfortunately so...</button>
        <button type="submit" name="confirm_delete" value="No">No!  What am I doing?!</button>
    </form>

{% endblock %}
