{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block content %}
<div class="dj-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h3>{% trans "Log out" %}</h3>

                <p>{% trans 'Are you sure you want to log out?' %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-block btn-green" type="submit">{% trans 'Log out' %}</button>
                    <p></p>
                    <p>
                        <a href="{% url 'myaccount' %}" class="btn btn-block btn-dark">Return to MyStompbox</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}