/* Body */
body {
    background-color: white;
    padding-bottom: 115px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Navbar */
.navbar-brand {
    color: whitesmoke !important;
}

.navbar-brand:hover {
    color: rgba(60, 232, 177, 1) !important;
}

.nav-link {
    color: whitesmoke !important;
  }
  
.nav-link:hover {
    color: rgba(60, 232, 177, 1) !important;
  }

#login_link {
    display: none;
}

.navbar-toggler {
    background-color: rgba(60, 232, 177, 1);
}

.navbar {
    box-shadow: 0 4px 6px rgba(60, 232, 177, 1);
}

.logged-in p {
    color: rgba(60, 232, 177, 1) !important;
}

.text-white {
    color: #FFF !important;
}

/* Hero */
.overlay-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -75%); 
    color: whitesmoke; 
    padding: 10px 10px; 
    font-size: 10vw; 
    text-align: center;
    text-shadow: 0 0 40px rgba(60, 232, 177, .75);
}

.overlay-tagline {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -5%); 
    color: rgba(60, 232, 177, 1); 
    padding: 10px 10px; 
    font-size: 5vw; 
    text-align: center;
}

/* Footer */
.btn-social {
    color: rgba(60, 232, 177, 1);
}

/* django template pages */
.dj-page {
    background-color: white;
}

/* remove list styling from unordered lists */
.mylistings_ul {
    list-style-type: none;      
}

/* change Bootstrap button default colours */
.btn-green {
    background-color: rgba(60, 232, 177, 1);
    border-color: rgba(60, 232, 177, 1);
}

/* General buttons */
.btn-block {
    text-transform: none !important;
}

/* images */
.small-image {
    height: auto;
    max-width: 50%;
}

.medium-image {
    height: auto;
    max-width: 80%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* category page */
.resized-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}

/* Home page cards */
.card {
    background-color: rgba(60, 232, 177, 1);
    border: 1px solid rgba(60, 232, 177, 1);
    color: black;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.card a {
    color: inherit;
}

/* Make card titles fit on a single line */
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* JS animation classes */
@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.card.scale-up {
    animation: scaleUp 0.5s forwards;
}
