body {
    background-color: white;
    padding-bottom: 150px;
}

.navbar-brand {
    color: whitesmoke !important;
}

.navbar-brand:hover {
    color: rgba(60, 232, 177, 1) !important;
}

.nav-link {
    color: whitesmoke !important;
  }
  
  .nav-link:hover {
    color: rgba(60, 232, 177, 1) !important;
  }

#login_link {
    display: none;
}

.navbar-toggler {
    background-color: darkgrey;
}

.navbar {
    box-shadow: 0 4px 6px rgba(60, 232, 177, 1);
}

.logged-in {
    color: rgba(60, 232, 177, 1); /* not working yet */
}

.overlay-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -75%); 
    color: whitesmoke; 
    padding: 10px 10px; 
    font-size: 7.5vw; 
    text-align: center;
    text-shadow: 0 0 40px rgba(60, 232, 177, 0.5);
}

.overlay-tagline {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -5%); 
    color: rgba(60, 232, 177, 1); 
    padding: 10px 10px; 
    font-size: 5vw; 
    text-align: center;
}

.btn-social {
    color: rgba(60, 232, 177, 0.5);
}

.dj-page {
    background-color: white;
}