{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dj-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">

                <h1>Delete Listing</h1>

                <p>Are you sure you want to delete this listing?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="confirm_delete" value="Yes" class="btn btn-danger">Yep!</button>
                    <button type="submit" name="confirm_delete" value="No" class="btn btn-dark">Not yet...</button>
                </form>
            </div>
        </div>
    </div>
</div>
            {% endblock %}