{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dj-page">
  <div class="container">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

  <h1>{{ listing.title }}</h1>
  <p><strong>Pedal: </strong>{{ listing.pedal_name }}</p>
  <p><strong>Manufacturer: </strong>{{ listing.manufacturer_name }}</p>
  <p><strong>Category: </strong>{{ listing.category_name }}</p>
  <p><strong>Condition: </strong>{{ listing.condition }}</p>
  <p><strong>Price: </strong>{{ listing.price }}</p>
  <p><strong>Description: </strong>{{ listing.description }}</p>
  <p><strong>Image 1: </strong>{{ listing.image1 }}</p>
  <p><strong>Image 2: </strong>{{ listing.image2 }}</p>
</div>

{% endblock %}
