{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dj-page">
  <div class="container">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

  <h1>{{ listing.title }}</h1>
  <p><strong>Pedal: </strong>{{ listing.pedal_name }}</p>
  <p><strong>Manufacturer: </strong>{{ listing.manufacturer_name }}</p>
  <p><strong>Category: </strong>{{ listing.category_name }}</p>
  <p><strong>Condition: </strong>{{ listing.condition }}</p>
  <p><strong>Price: </strong>{{ listing.price }}</p>
  <p><strong>Description: </strong>{{ listing.description }}</p>
  {% if listing.image1 %}
        <img src="{{ listing.image1.url }}" alt="Image 1">
    {% endif %}

    {% if listing.image2 %}
        <img src="{{ listing.image2.url }}" alt="Image 2">
    {% endif %}
  <p>
    <a href="{% url 'my_listings' %}">Return to MyListings</a>
  </p>
</div>

{% endblock %}
