{% extends 'base.html' %}
{% url 'create_listing' as create_listing_url %}
{% url 'listing_detail' as listing_detail_url %}
{% url 'update_listing' as update_listing_url %}
{% url 'delete_listing' as delete_listing_url %}

{% load static %}

{% block content %}

<div class="dj-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h1>MyListings</h1>
                <p>
                    {% if listings %}
                    <p><a href="{% url 'create_listing' %}">Create Listing</a></p>
                {% endif %}
                </p>
                {% if listings %}
                    <ul class="mylistings_ul">
                        {% for listing in listings %}
                            <div class="listing">
                                <li>{{ listing.title }}</li>
                            </div>
                            <p>
                                <a href="{% url 'listing_detail' pk=listing.pk %}">&nbsp; View &nbsp; </a>
                                <a href="{% url 'update_listing' pk=listing.pk %}">&nbsp; Update &nbsp;</a>
                                <a href="{% url 'delete_listing' pk=listing.pk %}">&nbsp; Delete &nbsp;</a>
                            </p>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No listings yet - <a href="{% url 'create_listing' %}">create your first listing here</a>!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
